<section id="home" class="mb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex flex-column align-items-center text-center">
                    <label class="display-medium text-uppercase">biggest gitam tech event ever</label>
                    <label class="title-large text-uppercase">brought to you by github community gitam</label>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="my-4">
    <div class="container">
        <div class="row">
            <label class="display-medium text-primary mb-2">About</label>
            <div class="col-md title-large">
                Epoch 1.0 is the most happening tech event, organised by GitHub community. It's a two day fest conducted
                by GCG at GITAM University,Bangalore. The fest's primary focus will be on technology among students in
                GITAM. Epoch 1.0 introduces lot of fun activities and games not just related to tech, but also
                non-technical.
                <p class="mt-4">There are four main events :</p>
                <ul class="mt-2">
                    <li>Technical Treasure Hunt</li>
                    <li>LAN Gaming</li>
                    <li>Product Commercial Videography</li>
                    <li>Tech Trivia</li>
                </ul>
                These four events are conducted on all three campuses before the fest. The finalists in each event
                compete with others in the Bangalore campus. We also have a number of food stalls with varieties of
                tasty food where all the foodies can have fun trying out the food.
                <p class="mt-4">We also have :</p>
                <ul class="mt-2">
                    <li>Open Mic🎙</li>
                    <li>Live Band🎸</li>
                    <li>Standup Comedy🎭</li>
                </ul>
                Get ready to experience a one-of-a-time fest in no place other than the one you share a lot of memories
                with. Get ready to experience The Github's Epoch. There are four main events - Technical Treasure Hunt,
                LAN Gaming, Product Commercial Videography, and Tech Trivia. These four events are conducted on all
                three campuses before the fest. Finalists in each event from each campus shall come to the Bangalore
                campus to compete with the other finalists from the other campuses.
            </div>
            <div class="col-md">
                <img src="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section id="octocoins" class="my-4">
    <div class="container">
        <div class="row">
            <label class="display-medium text-primary mb-2">OctoCoins</label>
            <div class="col-md title-large">
                OctoCoins are the virtual coins used in Epoch event which can be used at multiple food stalls,
                games
                andevents.

                500 OctoCoins = 100 INR

                You can add money to your account using various payment methods (UPI for now) and use the OctoCoins
                to
                spend anywhere you want in the event.
                <br>
                We also have a surprise for the person who spent the most OctoCoins in the event.
            </div>
            <div class="col-md text-center">
                <img class="img-fluid" src="assets/logo.png" style="max-height: 250px;">
            </div>
        </div>
    </div>
</section>

<section id="socials" class="my-4">
    <div class="container">
        <div class="row">
            <label class="display-medium text-primary mb-2">Socials</label>
            <div class="d-flex align-items-center flex-column">
                <div class="material-card my-4">
                    <a href="https://discord.gg/M7uFE99w7F" class="mx-2">
                        <img src="./assets/Discord.svg" height="60">
                    </a>
                    <a href="https://github.com/github-community-gitam" class="mx-2">
                        <img src="./assets/Github.svg" height="60">
                    </a>
                    <a href="https://www.instagram.com/github.gitam" class="mx-2">
                        <img src="./assets/Instagram.svg" height="60">
                    </a>
                    <a href="https://www.linkedin.com/company/github-gitam" class="mx-2">
                        <img src="./assets/LinkedIn.svg" height="60">
                    </a>
                </div>
                <label class="m-4">
                    Follow us on socials to stay updated with upcoming events and informational posts.
                </label>
            </div>
        </div>
    </div>
</section>