<nav class="navbar navbar-expand-lg fixed-top material-navbar m-2">
    <div class="container-fluid m-1">
        <img height="40" src="assets/logo.svg">
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav nav-padding px-2 align-items-center ms-auto">
                <a class="material-button-filled material-button-sm m-1" href="#home">Home</a>
                <a class="material-button-outlined material-button-sm my-1" href="#about">About</a>
                <a class="material-button-outlined material-button-sm m-1" href="#schedule">Schedule</a>
                <a class="material-button-outlined material-button-sm my-1" href="#octocoins">Octocoins</a>
                <a class="material-button-outlined material-button-sm m-1" href="" onclick="alertt()">Fare App</a>
                <a class="material-button-outlined material-button-sm my-1" href="#socials">Socials</a>
                <a class="material-button-outlined material-button-sm m-1" href="https://forms.gle/gMZ3QdSBBrH3btAf6">
                    Join us
                </a>
                <div class="form-switch my-1">
                    <input class="form-check-input" type="checkbox" id="themeSwitch" (change)="switchTheme()"
                        [checked]="isDarkTheme">
                </div>
            </div>
        </div>
    </div>
</nav>

<section id="home">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex flex-column align-items-center text-center">
                    <img src="">
                    <label class="display-medium text-uppercase">biggest gitam tech event ever</label>
                    <label class="title-large text-uppercase">brought to you by github community
                        gitam</label>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <div class="row">
            <label class="display-medium text-primary mb-2">About</label>
            <div class="col-md title-large">
                <p>
                    Epoch 1.0 is the first large-scale tech-related event that GITAM
                    University experiences. It is a two-day fest conducted by GCG at
                    GITAM University, Bangalore. This fest primarily focuses on
                    promoting technology among students in GITAM.
                </p>
                <p>
                    There are four main events - Technical Treasure Hunt, LAN Gaming,
                    Product Commercial Videography, and Tech Trivia. These four events
                    are conducted on all three campuses before the fest. Finalists in each
                    event from each campus shall come to the Bangalore campus to
                    compete with the other finalists from the other campuses.
                </p>
            </div>
            <div class="col-md">
                <img src="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section id="schedule">
    <div class="container">
        <div class="row">
            <label class="display-medium text-primary mb-2">Schedule</label>
            <label class="headline-small text-uppercase">Epoch 1.0: January 4-5</label>
            <div class="col-md title-large">
                Day 1
                <ul>
                    Morning
                    <li>ekhgedfsjeh,skhflksfgjbglkjh</li>
                    <li>ekhgedfsjeh,skhflksfgjbglkjh</li>
                    <li>ekhgedfsjeh,skhflksfgjbglkjh</li>
                </ul>
                <ul>
                    Noon
                    <li>ekhgedfsjeh,skhflksfgjbglkjh</li>
                    <li>ekhgedfsjeh,skhflksfgjbglkjh</li>
                    <li>ekhgedfsjeh,skhflksfgjbglkjh</li>
                </ul>
                <ul>
                    Evening
                    <li>ekhgedfsjeh,skhflksfgjbglkjh</li>
                    <li>ekhgedfsjeh,skhflksfgjbglkjh</li>
                    <li>ekhgedfsjeh,skhflksfgjbglkjh</li>
                </ul>
            </div>
            <div class="col-md title-large">
                Day 2
                <ul>
                    Morning
                    <li>ekhgedfsjeh,skhflksfgjbglkjh</li>
                    <li>ekhgedfsjeh,skhflksfgjbglkjh</li>
                    <li>ekhgedfsjeh,skhflksfgjbglkjh</li>
                </ul>
                <ul>
                    Noon
                    <li>ekhgedfsjeh,skhflksfgjbglkjh</li>
                    <li>ekhgedfsjeh,skhflksfgjbglkjh</li>
                    <li>ekhgedfsjeh,skhflksfgjbglkjh</li>
                </ul>
                <ul>
                    Evening
                    <li>ekhgedfsjeh,skhflksfgjbglkjh</li>
                    <li>ekhgedfsjeh,skhflksfgjbglkjh</li>
                    <li>ekhgedfsjeh,skhflksfgjbglkjh</li>
                </ul>
            </div>
        </div>
    </div>

</section>

<section id="octocoins">
    <div class="container">
        <div class="row">
            <label class="display-medium text-primary mb-2">OctoCoins</label>
            <div class="col-md title-large">
                OctoCoins are the virtual coins used in Epoch event which can be used at multiple food stalls,
                games
                andevents.

                500 OctoCoins = 100 INR

                You can add money to your account using various payment methods (UPI for now) and use the OctoCoins
                to
                spend anywhere you want in the event.
                <br>
                We also have a surprise for the person who spent the most OctoCoins in the event.
            </div>
            <div class="col-md text-center">
                <img class="img-fluid" src="assets/logo.png" style="max-height: 300px;">
            </div>
        </div>
    </div>
</section>

<section id="socials">
    <div class="container">
        <div class="row">
            <label class="display-medium text-primary mb-2">Socials</label>
            <div class="d-flex align-items-center flex-column">
                <div class="material-card my-4">
                    <a href="https://discord.gg/M7uFE99w7F" class="mx-2">
                        <img src="./assets/Discord.svg" height="60">
                    </a>
                    <a href="https://github.com/github-community-gitam" class="mx-2">
                        <img src="./assets/Github.svg" height="60">
                    </a>
                    <a href="https://www.instagram.com/github.gitam" class="mx-2">
                        <img src="./assets/Instagram.svg" height="60">
                    </a>
                    <a href="https://www.linkedin.com/company/github-gitam" class="mx-2">
                        <img src="./assets/LinkedIn.svg" height="60">
                    </a>
                </div>
                <label class="m-4">
                    Follow us on socials to stay updated with upcoming events and informational posts.
                </label>
            </div>
        </div>
    </div>
</section>