<div class="container h-100">
    <div class="d-flex flex-column align-items-center h-100">
        <label class="display-medium text-primary mt-3">GITCOMMIT</label>
        <label class="display-medium text-primary mb-3">2022</label>
        <label class="title-large my-3">Hey there, {{user?.displayName}}</label>
        <label *ngIf="fireStoreUser" class="title-medium my-3 mt-5">You have {{fireStoreUser!['balance']}} OctoCoins
            left</label>
        <label *ngIf="fireStoreUser" class="title-medium mb-5">Total OCs spent: {{fireStoreUser!['totalSpent']}}
            OctoCoins</label>

        <div class="row my-2">
            <div class="col m-1">
                <button class="material-button-elevated" routerLink="../scan">Scan QR</button>
            </div>
            <div class="col m-1">
                <button class="material-button-elevated" routerLink="../addcoins">Add coins</button>
            </div>
        </div>

        <div class="row my-2">
            <div class="col m-1">
                <button class="material-button-elevated" routerLink="../history">History</button>
            </div>
            <div class="col m-1">
                <button class="material-button-elevated" (click)="signOut()">Sign out</button>
            </div>
        </div>
    </div>
</div>