<nav class="navbar navbar-expand-lg fixed-top material-navbar m-2">
    <div class="container-fluid m-1">
        <img height="40" src="assets/logo.svg">
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav nav-padding px-2 align-items-center ms-auto">
                <button class="m-1" [ngClass]="isActive('/home') && !socialActive ? 'material-button-filled' : 'material-button-outlined'" (click)="scrollTo('top')">Home</button>
                <button class="my-1" [ngClass]="isActive('/home') && socialActive ? 'material-button-filled' : 'material-button-outlined'" (click)="scrollTo('socials')" >Socials</button>
                <button class="m-1" routerLink="/media" [ngClass]="isActive('/media') ? 'material-button-filled' : 'material-button-outlined'">Media</button>
                <button class="material-button-outlined my-1" routerLink="/">Fair</button>
                <a class="material-button-outlined m-1" href="https://forms.gle/vzTGhFdCephRSEfJ6">Recruitment</a>
                <a class="material-button-outlined my-1" href ="assets/epoch1_sponsorship_brochure.pdf" >Sponsors</a>
                <div class="form-switch m-1 pb-1">
                    <input class="form-check-input" type="checkbox" id="themeSwitch" (change)="switchTheme()"
                        [checked]="isDarkTheme">
                </div>
            </div>
        </div>
    </div>
</nav>

<div id="top" style="padding-top: 100px;">
    <router-outlet></router-outlet>
</div>