<div class="container text-center h-100">
    <div class="d-flex justify-content-center flex-column align-items-center h-100">
        <label class="display-medium text-primary mt-3">GITCOMMIT</label>
        <label class="display-medium text-primary mb-3">2022</label>
        <img class="my-3" src="assets/logo.png" height="200" width="200">
        <label class="title-large my-3">Please Sign-in to use your OctoCoins</label>

        <button class="material-button-elevated my-3" (click)="signIn()">
            <div *ngIf="!loading">
                <img src="assets/Google.svg" class="me-2">
                Sign in
            </div>

            <div *ngIf="loading" class="spinner-border text-light" style="height: 20px; width: 20px;"></div>
        </button>
        <label class="title-medium my-3">Make sure to use your Gitam mail account</label>
        <button class="material-button-elevated my-3" (click)="goToEventPage()">
            Event Page
        </button>
    </div>
</div>