@font-face {
    font-family: roboto;
    src: url(assets/fonts/Roboto.ttf);
}

@font-face {
    font-family: synthek;
    src: url(assets/fonts/synthek_ldr.ttf);
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.navbar {
    height: 50px;
}

.footer {
    height: 40px;
}

.synthek {
    font-family: 'synthek';
}

.bg-image {
    background-image: url(assets/images/bgImage.png);
}
